tests/vodkatv_sample/vodkatv.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:description xmlns:wsdl="http://www.w3.org/ns/wsdl"
        targetNamespace="http://www.interoud.com/vodkatv/wsdl"
        xmlns:tns="http://www.interoud.com/vodkatv/wsdl"
        xmlns:whttp="http://www.w3.org/ns/wsdl/http"
        xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:msg="http://www.interoud.com/vodkatv/xsd">

    <wsdl:documentation>
    WSDL for VoDKATV OSS/BSS API
    </wsdl:documentation>

    <!--
    Types
    -->
    <wsdl:types>
        <xs:import namespace="http://www.interoud.com/vodkatv/xsd"
            schemaLocation="vodkatv.xsd"/>
    </wsdl:types>

    <!--
    Interface
    -->
    <wsdl:interface name="VoDKATVInterface">

        <!-- Room -->
        <wsdl:operation name="CreateRoom"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It creates a new household with the specified values.
            </wsdl:documentation>

            <wsdl:input element="msg:createRoomParams"/>
            <wsdl:output element="msg:createRoomResponse"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteRoom"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It deletes an existing household and all their associated devices
            from the system.
            </wsdl:documentation>

            <wsdl:input element="msg:deleteRoomParams"/>
            <wsdl:output element="msg:deleteRoomResponse"/>
        </wsdl:operation>

        <!-- Device -->
        <wsdl:operation name="CreateDevice"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It creates a new device with the specified values.
            </wsdl:documentation>

            <wsdl:input element="msg:createDeviceParams"/>
            <wsdl:output element="msg:createDeviceResponse"/>
        </wsdl:operation>

        <wsdl:operation name="FindDeviceById"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the device with the given identifier.
            </wsdl:documentation>

            <wsdl:input element="msg:findDeviceByIdParams"/>
            <wsdl:output element="msg:findDeviceByIdResponse"/>
        </wsdl:operation>

        <wsdl:operation name="FindDevices"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the list of devices filtering by a given criteria.
            </wsdl:documentation>

            <wsdl:input element="msg:findDevicesParams"/>
            <wsdl:output element="msg:findDevicesResponse"/>
        </wsdl:operation>

        <wsdl:operation name="FindDevicesByRoom"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns a list of the devices from the specified household.
            </wsdl:documentation>

            <wsdl:input element="msg:findDevicesByRoomParams"/>
            <wsdl:output element="msg:findDevicesByRoomResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateDevice"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It updates the information associated to an already existing device.
            </wsdl:documentation>

            <wsdl:input element="msg:updateDeviceParams"/>
            <wsdl:output element="msg:updateDeviceResponse"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteDevice"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It deletes an existing device from the system.
            </wsdl:documentation>

            <wsdl:input element="msg:deleteDeviceParams"/>
            <wsdl:output element="msg:deleteDeviceResponse"/>
        </wsdl:operation>

    </wsdl:interface>

    <!--
    Binding
    -->
    <wsdl:binding name="VoDKATVHTTPBinding"
        type="http://www.w3.org/ns/wsdl/http"
        interface="tns:VoDKATVInterface">

        <wsdl:documentation>
        HTTP binding for the VoDKATV OSS/BSS service.
        </wsdl:documentation>

        <!-- Room -->
        <wsdl:operation ref="tns:CreateRoom" whttp:method="POST"
                whttp:location="external/admin/configuration/CreateRoom.do"/>

        <wsdl:operation ref="tns:DeleteRoom" whttp:method="GET"
                whttp:location="external/admin/configuration/DeleteRoom.do"/>

        <!-- Device -->
        <wsdl:operation ref="tns:CreateDevice" whttp:method="POST"
                whttp:location="external/admin/configuration/CreateDevice.do"/>

        <wsdl:operation ref="tns:FindDeviceById" whttp:method="GET"
                whttp:location="external/admin/configuration/FindDeviceById.do"/>

        <wsdl:operation ref="tns:FindDevices" whttp:method="GET"
                whttp:location="external/admin/configuration/FindDevices.do"/>

        <wsdl:operation ref="tns:FindDevicesByRoom" whttp:method="GET"
                whttp:location="external/admin/configuration/FindDevicesByRoom.do"/>

        <wsdl:operation ref="tns:UpdateDevice" whttp:method="POST"
                whttp:location="external/admin/configuration/UpdateDevice.do"/>

        <wsdl:operation ref="tns:DeleteDevice" whttp:method="GET"
                whttp:location="external/admin/configuration/DeleteDevice.do"/>

    </wsdl:binding>

    <!--
    Service
    -->
    <wsdl:service name="VoDKATV" interface="tns:VoDKATVInterface">

        <wsdl:documentation>
        VoDKATV OSS/BSS service.
        </wsdl:documentation>

        <wsdl:endpoint name="VoDKATVHTTPEndpoint"
            binding="tns:VoDKATVHTTPBinding"
            address="http://localhost:8082/vodkatv/">

        </wsdl:endpoint>

    </wsdl:service>

</wsdl:description>
