tests/vodkatv_sample/vodkatv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.interoud.com/vodkatv/xsd"
        xmlns:tns="http://www.interoud.com/vodkatv/xsd"
        xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions">

    <!--
    Operations
    -->

    <!-- Room -->
    <xsd:element name="createRoomParams">
        <xsd:annotation>
            <xsd:documentation>
            Params for operation CreateRoom.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="roomId" type="xsd:string" />
                <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="createRoomResponse">
        <xsd:annotation>
            <xsd:documentation>
            Response of operation CreateRoom.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="roomId" type="xsd:string" />
                <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="errors" type="tns:errors" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="findAllRoomResponse">
        <xsd:annotation>
            <xsd:documentation>
            Response of operation FindAllRooms.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="room" type="tns:room" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="errors" type="tns:errors" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="deleteRoomParams">
        <xsd:annotation>
            <xsd:documentation>
            Params for operation DeleteRoom.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="roomId" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="deleteRoomResponse">
        <xsd:annotation>
            <xsd:documentation>
            Response of operation DeleteRoom.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="room" type="tns:deletedRoom" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="errors" type="tns:errors" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Device -->
    <xsd:element name="createDeviceParams">
        <xsd:annotation>
            <xsd:documentation>
            Params for operation CreateDevice.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="physicalId" type="xsd:string" />
                <xsd:element name="deviceClass" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="roomId" type="xsd:string" />
                <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="createDeviceResponse">
        <xsd:annotation>
            <xsd:documentation>
            Response of operation CreateDevice.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:integer" />
                <xsd:element name="physicalId" type="xsd:string" />
                <xsd:element name="deviceClass" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="roomId" type="xsd:string" />
                <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="errors" type="tns:errors" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="findDevicesParams">
        <xsd:annotation>
            <xsd:documentation>
            Params for operation FindDevices.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <!-- startIndex: must be greater than 0 -->
                <xsd:element name="startIndex" type="xsd:integer" />
                <!-- count: must be greater than 0 -->
                <xsd:element name="count" type="xsd:integer" />
                <xsd:element name="sortBy" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <!-- order: "ascending" or "descending" -->
                <xsd:element name="order" type="xsd:string" minOccurs="0" maxOccurs="1" />
		<xsd:element name="query" type="xsd:string" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="findDevicesResponse">
        <xsd:annotation>
            <xsd:documentation>
            Response of operation FindDevices.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="device" type="tns:device" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="errors" type="tns:errors" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
            <xsd:attribute name="existsMore" type="xsd:boolean" />
            <xsd:attribute name="countTotal" type="xsd:integer" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="findDevicesByRoomParams">
        <xsd:annotation>
            <xsd:documentation>
            Params for operation FindDevicesByRoom.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="roomId" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="findDevicesByRoomResponse">
        <xsd:annotation>
            <xsd:documentation>
            Response of operation FindDevicesByRoom.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="device" type="tns:device" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="errors" type="tns:errors" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="findDeviceByIdParams">
        <xsd:annotation>
            <xsd:documentation>
            Params for operation FindDeviceById.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="deviceId" type="xsd:integer" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="findDeviceByIdResponse">
        <xsd:annotation>
            <xsd:documentation>
            Response of operation FindDeviceById.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:integer" />
                <xsd:element name="physicalId" type="xsd:string" />
                <xsd:element name="deviceClass" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="roomId" type="xsd:string" />
                <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="errors" type="tns:errors" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="updateDeviceParams">
        <xsd:annotation>
            <xsd:documentation>
            Params for operation UpdateDevice.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:integer" />
                <xsd:element name="physicalId" type="xsd:string" />
                <xsd:element name="deviceClass" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="roomId" type="xsd:string" />
                <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="updateDeviceResponse">
        <xsd:annotation>
            <xsd:documentation>
            Response of operation UpdateDevice.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:integer" />
                <xsd:element name="physicalId" type="xsd:string" />
                <xsd:element name="deviceClass" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="roomId" type="xsd:string" />
                <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="errors" type="tns:errors" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="deleteDeviceParams">
        <xsd:annotation>
            <xsd:documentation>
            Params for operation DeleteDevice.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="deviceId" type="xsd:integer" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="deleteDeviceResponse">
        <xsd:annotation>
            <xsd:documentation>
            Response of operation DeleteDevice.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="device" type="tns:deletedDevice" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="errors" type="tns:errors" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!--
    Entities
    -->
    <xsd:complexType name="room">
        <xsd:sequence>
            <xsd:element name="roomId" type="xsd:string" />
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="deletedRoom">
        <xsd:sequence>
            <xsd:element name="roomId" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="devices">
        <xsd:sequence>
            <xsd:element name="device" type="tns:device" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="devicesToUpdate">
        <xsd:sequence>
            <xsd:element name="device" type="tns:deviceToUpdate" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="device">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:integer" />
            <xsd:element name="physicalId" type="xsd:string" />
            <xsd:element name="deviceClass" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="roomId" type="xsd:string" />
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="deletedDevice">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:integer" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="deviceToUpdate">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:integer" />
            <xsd:element name="physicalId" type="xsd:string" />
            <xsd:element name="deviceClass" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="roomId" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

    <!--
    Errors
    -->
    <xsd:complexType name="errors">
        <xsd:sequence>
            <xsd:element name="error" type="tns:error" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="error">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string" />
            <xsd:element name="params" type="tns:errorParams" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="errorParams">
        <xsd:sequence>
            <xsd:element name="param" type="tns:errorParam" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="errorParam">
        <xsd:attribute name="name" type="xsd:string" />
        <xsd:attribute name="value" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>
