tests/weather/weather.wsdl

<?xml version="1.0" encoding="UTF-8"?>  
<description xmlns="http://www.w3.org/ns/wsdl" 
             xmlns:tns="http://www.webserviceX.NET"
             targetNamespace="http://www.webserviceX.NET">
    <!--

      Documentation at:
      http://esw.w3.org/topic/WsdlConverter

      To report problems, please refer to:
      http://esw.w3.org/topic/WsdlConverterFeedback

      Generated by the WSDL converter version:
      2006-02-20
      
    -->
    <types>
      <s:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                xmlns:s="http://www.w3.org/2001/XMLSchema"
                xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                elementFormDefault="qualified"
                targetNamespace="http://www.webserviceX.NET">
         <s:element name="GetWeather">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CityName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetWeatherResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetWeatherResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCitiesByCountry">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCitiesByCountryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCitiesByCountryResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
    </types>
   <interface name="GlobalWeatherSoap">
      <operation name="GetWeather" pattern="http://www.w3.org/ns/wsdl/in-out">
         <documentation>Get weather report for all major cities around the world.</documentation>
         <input element="tns:GetWeather"/>
         <output element="tns:GetWeatherResponse"/>
      </operation>
      <operation name="GetCitiesByCountry" pattern="http://www.w3.org/ns/wsdl/in-out">
         <documentation>Get all major cities by country name(full / part).</documentation>
         <input element="tns:GetCitiesByCountry"/>
         <output element="tns:GetCitiesByCountryResponse"/>
      </operation>
   </interface>
   <interface name="GlobalWeatherHttpGet">
      <operation name="GetWeather" pattern="http://www.w3.org/ns/wsdl/in-out">
         <documentation>Get weather report for all major cities around the world.</documentation>
         <input element="#any"/>
         <output element="tns:string"/>
      </operation>
      <operation name="GetCitiesByCountry" pattern="http://www.w3.org/ns/wsdl/in-out">
         <documentation>Get all major cities by country name(full / part).</documentation>
         <input element="#any"/>
         <output element="tns:string"/>
      </operation>
   </interface>
   <interface name="GlobalWeatherHttpPost">
      <operation name="GetWeather" pattern="http://www.w3.org/ns/wsdl/in-out">
         <documentation>Get weather report for all major cities around the world.</documentation>
         <input element="#any"/>
         <output element="tns:string"/>
      </operation>
      <operation name="GetCitiesByCountry" pattern="http://www.w3.org/ns/wsdl/in-out">
         <documentation>Get all major cities by country name(full / part).</documentation>
         <input element="#any"/>
         <output element="tns:string"/>
      </operation>
   </interface>
  
   <binding xmlns:whttp="http://www.w3.org/ns/wsdl/http" name="GlobalWeatherHttpGet"
            interface="tns:GlobalWeatherHttpGet"
            type="http://www.w3.org/ns/wsdl/http"
            >
      <operation ref="tns:GetWeather" whttp:location="/GetWeather" whttp:method="GET"/>
      <operation ref="tns:GetCitiesByCountry" whttp:location="/GetCitiesByCountry" whttp:method="GET"/>
   </binding>
   <binding xmlns:whttp="http://www.w3.org/ns/wsdl/http" name="GlobalWeatherHttpPost"
            interface="tns:GlobalWeatherHttpPost"
            type="http://www.w3.org/ns/wsdl/http"
            >
      <operation ref="tns:GetWeather" 
                 whttp:location="/GetWeather"
                 whttp:method="POST"/>
      <operation ref="tns:GetCitiesByCountry"
                 whttp:location="/GetCitiesByCountry"
                 whttp:method="POST"/>
   </binding> 
   <service name="GlobalWeather" interface="tns:GlobalWeatherSoap">
      <endpoint name="GlobalWeatherSoap" binding="tns:GlobalWeatherSoap"
                address="http://www.webservicex.net/globalweather.asmx"/>
      <endpoint name="GlobalWeatherSoap12" binding="tns:GlobalWeatherSoap12"/>
      <endpoint name="GlobalWeatherHttpGet" binding="tns:GlobalWeatherHttpGet"
                address="http://www.webservicex.net/globalweather.asmx"/>
      <endpoint name="GlobalWeatherHttpPost" binding="tns:GlobalWeatherHttpPost"
                address="http://www.webservicex.net/globalweather.asmx"/>
   </service> 
</description>