tests/vodkatv/vodkatv.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:description xmlns:wsdl="http://www.w3.org/ns/wsdl"
        targetNamespace="http://www.interoud.com/vodkatv/wsdl"
        xmlns:tns="http://www.interoud.com/vodkatv/wsdl"
        xmlns:whttp="http://www.w3.org/ns/wsdl/http"
        xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:msg="http://www.interoud.com/vodkatv/xsd">

    <wsdl:documentation>
    WSDL for VoDKATV OSS/BSS API
    </wsdl:documentation>

    <!--
    Types
    -->
    <wsdl:types>
        <xs:import namespace="http://www.interoud.com/vodkatv/xsd"
            schemaLocation="vodkatv.xsd"/>
    </wsdl:types>

    <!--
    Interface
    -->
    <wsdl:interface name="VoDKATVInterface">

        <!-- Room -->
        <wsdl:operation name="CreateRoom"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It creates a new household with the specified values.
            </wsdl:documentation>

            <wsdl:input element="msg:createRoomParams"/>
            <wsdl:output element="msg:room"/>
        </wsdl:operation>

        <wsdl:operation name="FindRoomById"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It finds a room by its identifier.
            </wsdl:documentation>

            <wsdl:input element="msg:findRoomByIdParams"/>
            <wsdl:output element="msg:room"/>
        </wsdl:operation>

        <wsdl:operation name="FindAllRooms"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns all households already created in the system.
            </wsdl:documentation>

            <wsdl:output element="msg:rooms"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteRoom"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It deletes an existing household and all their associated devices
            from the system.
            </wsdl:documentation>

            <wsdl:input element="msg:deleteRoomParams"/>
            <wsdl:output element="msg:rooms"/>
        </wsdl:operation>

        <!-- Device -->
        <wsdl:operation name="CreateDevice"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It creates a new device with the specified values.
            </wsdl:documentation>

            <wsdl:input element="msg:createDeviceParams"/>
            <wsdl:output element="msg:device"/>
        </wsdl:operation>

        <wsdl:operation name="FindDeviceById"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the device with the given identifier.
            </wsdl:documentation>

            <wsdl:input element="msg:findDeviceByIdParams"/>
            <wsdl:output element="msg:device"/>
        </wsdl:operation>

        <wsdl:operation name="FindDevices"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the list of devices filtering by a given criteria.
            </wsdl:documentation>

            <wsdl:input element="msg:findDevicesParams"/>
            <wsdl:output element="msg:devices"/>
        </wsdl:operation>

        <wsdl:operation name="FindDevicesByRoom"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns a list of the devices from the specified household.
            </wsdl:documentation>

            <wsdl:input element="msg:findDevicesByRoomParams"/>
            <wsdl:output element="msg:devices"/>
        </wsdl:operation>

        <wsdl:operation name="FindDevicesByTagId"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the list of the devices with the specified tag node.
            </wsdl:documentation>

            <wsdl:input element="msg:findDevicesByTagIdParams"/>
            <wsdl:output element="msg:devices"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateDevice"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It updates the information associated to an already existing device.
            </wsdl:documentation>

            <wsdl:input element="msg:updateDeviceParams"/>
            <wsdl:output element="msg:device"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteDevice"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It deletes an existing device from the system.
            </wsdl:documentation>

            <wsdl:input element="msg:deleteDeviceParams"/>
            <wsdl:output element="msg:devices"/>
        </wsdl:operation>

        <!-- DeviceClasses -->
        <wsdl:operation name="FindAllDeviceClasses"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns all the device classes available in the system.
            </wsdl:documentation>

            <wsdl:output element="msg:findAllDeviceClassesResponse"/>
        </wsdl:operation>

        <!-- Session -->
        <wsdl:operation name="CreateSession"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It creates a new session in an existing household. This operation
            will also create a default account for the created session.
            </wsdl:documentation>

            <wsdl:input element="msg:createSessionParams"/>
            <wsdl:output element="msg:createSessionResponse"/>
        </wsdl:operation>

        <wsdl:operation name="FindSessionById"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the session with the given identifier.
            </wsdl:documentation>

            <wsdl:input element="msg:findSessionByIdParams"/>
            <wsdl:output element="msg:findSessionByIdResponse"/>
        </wsdl:operation>

        <wsdl:operation name="FindSessionsByRoom"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns a list of the sessions created in the specified household.
            </wsdl:documentation>

            <wsdl:input element="msg:findSessionsByRoomParams"/>
            <wsdl:output element="msg:findSessionsByRoomResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateSession"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It updates the information associated to an already existing session.
            </wsdl:documentation>

            <wsdl:input element="msg:updateSessionParams"/>
            <wsdl:output element="msg:updateSessionResponse"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteSession"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It deletes an existing session and all associated accounts from the system.
            </wsdl:documentation>

            <wsdl:input element="msg:deleteSessionParams"/>
            <wsdl:output element="msg:deleteSessionResponse"/>
        </wsdl:operation>

        <!-- Account -->
        <wsdl:operation name="CreateAccount"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It creates a new account for a session. This operation will not
            associate any login/password to access the system. On the other
            hand, the value for outputsProtection} and parentalControlLevel}
            will be the default values defined on the VoDKATV system.
            </wsdl:documentation>

            <wsdl:input element="msg:createAccountParams"/>
            <wsdl:output element="msg:createAccountResponse"/>
        </wsdl:operation>

        <wsdl:operation name="FindAccountsBySessionAccounting"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the accounts defined for the specified session.
            </wsdl:documentation>

            <wsdl:input element="msg:findAccountsBySessionAccountingParams"/>
            <wsdl:output element="msg:findAccountsBySessionAccountingResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateAccount"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It updates the information associated to an already existing account.
            </wsdl:documentation>

            <wsdl:input element="msg:updateAccountParams"/>
            <wsdl:output element="msg:updateAccountResponse"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteAccount"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It updates the information associated to an already existing account.
            </wsdl:documentation>

            <wsdl:input element="msg:deleteAccountParams"/>
            <wsdl:output element="msg:deleteAccountResponse"/>
        </wsdl:operation>

        <!-- AccountDetails -->
        <wsdl:operation name="CreateAccountDetails"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It creates a new account for a session.
            </wsdl:documentation>

            <wsdl:input element="msg:createAccountDetailsParams"/>
            <wsdl:output element="msg:createAccountDetailsResponse"/>
        </wsdl:operation>

        <wsdl:operation name="FindAccountDetailsById"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the accounts details for a given account identifier.
            </wsdl:documentation>

            <wsdl:input element="msg:findAccountDetailsByIdParams"/>
            <wsdl:output element="msg:findAccountDetailsByIdResponse"/>
        </wsdl:operation>

        <wsdl:operation name="FindAccountsDetailsBySessionAccounting"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the accounts details defined for the specified session.
            </wsdl:documentation>

            <wsdl:input element="msg:findAccountsDetailsBySessionAccountingParams"/>
            <wsdl:output element="msg:findAccountsDetailsBySessionAccountingResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateAccountDetails"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It updates the information associated to an already existing account.
            </wsdl:documentation>

            <wsdl:input element="msg:updateAccountDetailsParams"/>
            <wsdl:output element="msg:updateAccountDetailsResponse"/>
        </wsdl:operation>

        <!-- RoomDeviceSession -->
        <wsdl:operation name="CreateRoomDeviceSession"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It creates a new household, and associates the specified devices to
            that household. Also, it creates a session associated to that
            household.
            </wsdl:documentation>

            <wsdl:input element="msg:createRoomDeviceSessionParams"/>
            <wsdl:output element="msg:createRoomDeviceSessionResponse"/>
        </wsdl:operation>

        <wsdl:operation name="FindRoomDeviceSessionById"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the household with their associated devices and current
            session with the given session identifier.
            </wsdl:documentation>

            <wsdl:input element="msg:findRoomDeviceSessionByIdParams"/>
            <wsdl:output element="msg:findRoomDeviceSessionByIdResponse"/>
        </wsdl:operation>

        <wsdl:operation name="FindRoomDeviceSessions"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns a list of the households with the associated sessions and
            devices.
            </wsdl:documentation>

            <wsdl:input element="msg:findRoomDeviceSessionsParams"/>
            <wsdl:output element="msg:findRoomDeviceSessionsResponse"/>
        </wsdl:operation>

        <wsdl:operation name="FindRoomDeviceSessionsByTagId"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the list of households with the associated sessions and
            devices from the specified tag.
            </wsdl:documentation>

            <wsdl:input element="msg:findRoomDeviceSessionsByTagIdParams"/>
            <wsdl:output element="msg:findRoomDeviceSessionsByTagIdResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateRoomDeviceSession"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It updates the information associated to an already existing household.
            </wsdl:documentation>

            <wsdl:input element="msg:updateRoomDeviceSessionParams"/>
            <wsdl:output element="msg:updateRoomDeviceSessionResponse"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteRoomDeviceSession"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It deletes an existing household and its associated devices and
            sessions from the system.
            </wsdl:documentation>

            <wsdl:input element="msg:deleteRoomDeviceSessionParams"/>
            <wsdl:output element="msg:deleteRoomDeviceSessionResponse"/>
        </wsdl:operation>

        <!-- VideoServer -->
        <wsdl:operation name="CreateVideoServer"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It creates a new video server on the system.
            </wsdl:documentation>

            <wsdl:input element="msg:updateOrCreateVideoServerParams"/>
            <wsdl:output element="msg:videoServer"/>
        </wsdl:operation>

        <wsdl:operation name="FindVideoServerById"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the data of a video server created on the system.
            </wsdl:documentation>

            <wsdl:input element="msg:findVideoServerById"/>
            <wsdl:output element="msg:videoServer"/>
        </wsdl:operation>

        <wsdl:operation name="FindAllVideoServers"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the list of video servers created on the system.
            </wsdl:documentation>

            <wsdl:output element="msg:videoServers"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateVideoServer"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It updates an already existing video server.
            </wsdl:documentation>

            <wsdl:input element="msg:updateOrCreateVideoServerParams"/>
            <wsdl:output element="msg:videoServer"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteVideoServer"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It deletes a video server.
            </wsdl:documentation>

            <wsdl:input element="msg:deleteVideoServer"/>
            <wsdl:output element="msg:videoServers"/>
        </wsdl:operation>

        <wsdl:operation name="EnableVideoServer"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            Enable a video server.
            </wsdl:documentation>

            <wsdl:input element="msg:findVideoServerById"/>
            <wsdl:output element="msg:videoServer"/>
        </wsdl:operation>

        <wsdl:operation name="DisableVideoServer"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            Disable a video server.
            </wsdl:documentation>

            <wsdl:input element="msg:findVideoServerById"/>
            <wsdl:output element="msg:videoServer"/>
        </wsdl:operation>

        <!-- VideoServerAction -->
        <wsdl:operation name="CreateVideoServerAction"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:input element="msg:createVideoServerActionParams"/>
            <wsdl:output element="msg:videoServerAction"/>
        </wsdl:operation>

        <wsdl:operation name="FindVideoServerActionsByVideoServerName"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:input element="msg:findVideoServerActionsByVideoServerNameParams"/>
            <wsdl:output element="msg:videoServerActions"/>
        </wsdl:operation>

        <!-- VideoServerStatus -->
        <wsdl:operation name="FindVideoServerStatusById"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the data of a video server status created on the system.
            </wsdl:documentation>

            <wsdl:input element="msg:findVideoServerStatusById"/>
            <wsdl:output element="msg:videoServerStatus"/>
        </wsdl:operation>

        <wsdl:operation name="FindAllVideoServersStatus"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the list of video servers status created on the system.
            </wsdl:documentation>

            <wsdl:output element="msg:videoServersStatus"/>
        </wsdl:operation>

        <!-- VideoServerGroup -->
        <wsdl:operation name="CreateVideoServerGroup"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It creates a new video server group on the system.
            </wsdl:documentation>

            <wsdl:input element="msg:updateOrCreateVideoServerGroupParams"/>
            <wsdl:output element="msg:videoServerGroup"/>
        </wsdl:operation>

        <wsdl:operation name="FindVideoServerGroupById"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the data of a video server group created on the system.
            </wsdl:documentation>

            <wsdl:input element="msg:findVideoServerGroupById"/>
            <wsdl:output element="msg:videoServerGroup"/>
        </wsdl:operation>

        <wsdl:operation name="FindVideoServerGroupByType"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the list of a video server group created on the system with the given type.
            </wsdl:documentation>

            <wsdl:input element="msg:findVideoServerGroupByType"/>
            <wsdl:output element="msg:videoServerGroups"/>
        </wsdl:operation>

        <wsdl:operation name="FindAllVideoServerGroups"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the list of video server groups created on the system.
            </wsdl:documentation>

            <wsdl:output element="msg:videoServerGroups"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateVideoServerGroup"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It updates an already existing video server group.
            </wsdl:documentation>

            <wsdl:input element="msg:updateOrCreateVideoServerGroupParams"/>
            <wsdl:output element="msg:videoServerGroup"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteVideoServerGroup"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It deletes a video server group.
            </wsdl:documentation>

            <wsdl:input element="msg:deleteVideoServerGroup"/>
            <wsdl:output element="msg:videoServerGroups"/>
        </wsdl:operation>


        <!-- ScreenSaver -->
        <wsdl:operation name="CreateScreenSaver"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It creates a new screenSaver
            </wsdl:documentation>

            <wsdl:input element="msg:updateOrCreatescreenSaverParams"/>
            <wsdl:output element="msg:screenSaver"/>
        </wsdl:operation>

        <wsdl:operation name="FindScreenSaverById"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the screenSaver by given identifier.
            </wsdl:documentation>

            <wsdl:input element="msg:findScreenSaverByIdParams"/>
            <wsdl:output element="msg:screenSaver"/>
        </wsdl:operation>

        <wsdl:operation name="FindScreenSavers"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns a list of the screenSavers
            </wsdl:documentation>

            <wsdl:input element="msg:findScreenSaversParams"/>
            <wsdl:output element="msg:screenSavers"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateScreenSaver"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It updates the information associated to an already existing screenSaver.
            </wsdl:documentation>

            <wsdl:input element="msg:updateOrCreatescreenSaverParams"/>
            <wsdl:output element="msg:screenSaver"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteScreenSaver"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It deletes an existing screenSaver
            </wsdl:documentation>

            <wsdl:input element="msg:deleteScreenSaverParams"/>
            <wsdl:output element="msg:screenSavers"/>
        </wsdl:operation>

        <!-- Networks configuration -->

        <wsdl:operation name="FindNetworkingConfiguration"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the networking configuration related to the networking areas
            defined in VoDKA.TV
            </wsdl:documentation>

            <wsdl:output element="msg:networkingConfiguration"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateNetworkingConfiguration"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It updates the configuration related to the networking areas
            defined in VoDKA.TV
            </wsdl:documentation>

            <wsdl:input element="msg:updateNetworkingConfigurationParams"/>
            <wsdl:output element="msg:networkingConfiguration"/>
        </wsdl:operation>

        <!-- AuxCacheServer -->
        <wsdl:operation name="FindAuxCacheServer"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the configured cache servers.
            </wsdl:documentation>

            <wsdl:output element="msg:auxCacheServers"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateAuxCacheServer"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It updates cache servers.
            </wsdl:documentation>

            <wsdl:input element="msg:updateAuxCacheServersParams"/>
            <wsdl:output element="msg:auxCacheServers"/>
        </wsdl:operation>

        <!-- List Configuration -->
        <wsdl:operation name="CreateListConfiguration"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It creates a new list configuration
            </wsdl:documentation>

            <wsdl:input element="msg:updateOrCreateListConfigurationParams"/>
            <wsdl:output element="msg:listConfiguration"/>
        </wsdl:operation>

        <wsdl:operation name="FindListConfigurationById"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the list configuration by given identifier.
            </wsdl:documentation>

            <wsdl:input element="msg:findListConfigurationByIdParams"/>
            <wsdl:output element="msg:listConfiguration"/>
        </wsdl:operation>

        <wsdl:operation name="FindListConfigurations"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns a list of the list configurations
            </wsdl:documentation>

            <wsdl:input element="msg:findListConfigurationsParams"/>
            <wsdl:output element="msg:listConfigurations"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateListConfiguration"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It updates the information associated to an already existing list Configuration.
            </wsdl:documentation>

            <wsdl:input element="msg:updateOrCreateListConfigurationParams"/>
            <wsdl:output element="msg:listConfiguration"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteListConfiguration"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It deletes an existing list configuration
            </wsdl:documentation>

            <wsdl:input element="msg:deleteListConfigurationParams"/>
            <wsdl:output element="msg:listConfigurations"/>
        </wsdl:operation>

        <wsdl:operation name="FindAssetsByListConfiguration"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            Find assets associated to an list Configuration
            </wsdl:documentation>

            <wsdl:input element="msg:updateOrCreateListConfigurationParams"/>
            <wsdl:output element="msg:listConfigurationAssets"/>
        </wsdl:operation>

        <wsdl:operation name="CreateFilterListConfiguration"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It creates a new filter list configuration
            </wsdl:documentation>

            <wsdl:input element="msg:createFilterListConfigurationParams"/>
            <wsdl:output element="msg:filterListConfiguration"/>
        </wsdl:operation>

        <wsdl:operation name="FindFilterListConfigurations"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns a list of the filter list configurations
            </wsdl:documentation>

            <wsdl:input element="msg:findFilterListConfigurationsParams"/>
            <wsdl:output element="msg:filterListConfigurations"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteFilterListConfiguration"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It deletes an existing filter list configuration
            </wsdl:documentation>

            <wsdl:input element="msg:deleteFilterListConfigurationParams"/>
            <wsdl:output element="msg:filterListConfigurations"/>
        </wsdl:operation>

        <!-- Channels -->
        <wsdl:operation name="CreateVodkatvChannel"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It creates a new channel
            </wsdl:documentation>

            <wsdl:input element="msg:updateOrCreateChannelParams"/>
            <wsdl:output element="msg:channel"/>
        </wsdl:operation>

        <wsdl:operation name="CreateVodkatvChannels"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It creates several channels
            </wsdl:documentation>

            <wsdl:input element="msg:updateOrCreateChannelsParams"/>
            <wsdl:output element="msg:channels"/>
        </wsdl:operation>

        <wsdl:operation name="FindVodkatvChannel"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the list configuration by given identifier.
            </wsdl:documentation>

            <wsdl:input element="msg:findChannelByIdParams"/>
            <wsdl:output element="msg:channel"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateVodkatvChannel"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It updates the information associated to an already existing channel.
            </wsdl:documentation>

            <wsdl:input element="msg:updateOrCreateChannelParams"/>
            <wsdl:output element="msg:channel"/>
        </wsdl:operation>

        <wsdl:operation name="FindVodkatvChannelsByAccount"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            Find channels by account
            </wsdl:documentation>

            <wsdl:input element="msg:findVodkatvChannelsByAccountParams"/>
            <wsdl:output element="msg:channels"/>
        </wsdl:operation>

        <wsdl:operation name="FindVodkatvChannels"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns a list of the channels
            </wsdl:documentation>

            <wsdl:input element="msg:findVodkatvChannelsParams"/>
            <wsdl:output element="msg:channels"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteVodkatvChannel"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It deletes an existing channel
            </wsdl:documentation>

            <wsdl:input element="msg:deleteVodkatvChannelParams"/>
            <wsdl:output element="msg:channels"/>
        </wsdl:operation>

        <wsdl:operation name="FindCasChannels"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the cas channels.
            </wsdl:documentation>

            <wsdl:output element="msg:casChannels"/>
        </wsdl:operation>

        <!-- RoleUsers -->
        <wsdl:operation name="CreateRoleUsers"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It creates a new role users on the system.
            </wsdl:documentation>

            <wsdl:input element="msg:updateOrCreateRoleUsersParams"/>
            <wsdl:output element="msg:roleUsers"/>
        </wsdl:operation>

        <wsdl:operation name="FindRoleUsersByRoleName"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the data of a role users created on the system.
            </wsdl:documentation>

            <wsdl:input element="msg:findRoleUsersByRoleName"/>
            <wsdl:output element="msg:roleUsers"/>
        </wsdl:operation>

        <wsdl:operation name="FindAllRoleUsers"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the list of role users created on the system.
            </wsdl:documentation>

            <wsdl:output element="msg:rolesUsers"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateRoleUsers"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It updates an already existing role users.
            </wsdl:documentation>

            <wsdl:input element="msg:updateOrCreateRoleUsersParams"/>
            <wsdl:output element="msg:roleUsers"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteRoleUsers"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It deletes a role users.
            </wsdl:documentation>

            <wsdl:input element="msg:deleteRoleUsers"/>
            <wsdl:output element="msg:rolesUsers"/>
        </wsdl:operation>

        <!-- RoleMenuOptions -->
        <wsdl:operation name="CreateRoleMenuOptions"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It creates a new role menu options on the system.
            </wsdl:documentation>

            <wsdl:input element="msg:updateOrCreateRoleMenuOptionsParams"/>
            <wsdl:output element="msg:roleMenuOptions"/>
        </wsdl:operation>

        <wsdl:operation name="FindRoleMenuOptionsByRoleName"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the data of a role menu options created on the system.
            </wsdl:documentation>

            <wsdl:input element="msg:findRoleMenuOptionsByRoleName"/>
            <wsdl:output element="msg:roleMenuOptions"/>
        </wsdl:operation>

        <wsdl:operation name="FindAllRoleMenuOptions"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the list of role menu options created on the system.
            </wsdl:documentation>

            <wsdl:output element="msg:rolesMenuOptions"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateRoleMenuOptions"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It updates an already existing role menu options.
            </wsdl:documentation>

            <wsdl:input element="msg:updateOrCreateRoleMenuOptionsParams"/>
            <wsdl:output element="msg:roleMenuOptions"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteRoleMenuOptions"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It deletes a role menu options.
            </wsdl:documentation>

            <wsdl:input element="msg:deleteRoleMenuOptions"/>
            <wsdl:output element="msg:rolesMenuOptions"/>
        </wsdl:operation>

        <!-- User -->

        <wsdl:operation name="FindAllUsers"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the list of users created on the system.
            </wsdl:documentation>

            <wsdl:output element="msg:users"/>
        </wsdl:operation>

        <!-- Menu options -->

        <wsdl:operation name="FindAllMenuOptions"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            It returns the list of menu options created on the system.
            </wsdl:documentation>

            <wsdl:output element="msg:menuOptions"/>
        </wsdl:operation>

        <!-- Dummy -->
        <wsdl:operation name="Dummy"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">

            <wsdl:documentation>
            This is a dummy operation those references the entities and complex
            types defined in the XSD that are not referenced by other operations.
            This is a hack so that AXIS2 includes these entities in the
            generated code.
            </wsdl:documentation>

            <wsdl:input element="msg:dummyParams"/>
            <wsdl:output element="msg:dummyResponse"/>
        </wsdl:operation>

    </wsdl:interface>

    <!--
    Binding
    -->
    <wsdl:binding name="VoDKATVHTTPBinding"
        type="http://www.w3.org/ns/wsdl/http"
        interface="tns:VoDKATVInterface">

        <wsdl:documentation>
        HTTP binding for the VoDKATV OSS/BSS service.
        </wsdl:documentation>

        <!-- Room -->
        <wsdl:operation ref="tns:CreateRoom" whttp:method="POST"
                whttp:location="external/admin/configuration/CreateRoom.do"/>

        <wsdl:operation ref="tns:FindRoomById" whttp:method="GET"
                whttp:location="external/admin/configuration/FindRoomById.do"/>

        <wsdl:operation ref="tns:FindAllRooms" whttp:method="GET"
                whttp:location="external/admin/configuration/FindAllRooms.do"/>

        <wsdl:operation ref="tns:DeleteRoom" whttp:method="GET"
                whttp:location="external/admin/configuration/DeleteRoom.do"/>

        <!-- Device -->
        <wsdl:operation ref="tns:CreateDevice" whttp:method="POST"
                whttp:location="external/admin/configuration/CreateDevice.do"/>

        <wsdl:operation ref="tns:FindDeviceById" whttp:method="GET"
                whttp:location="external/admin/configuration/FindDeviceById.do"/>

        <wsdl:operation ref="tns:FindDevices" whttp:method="GET"
                whttp:location="external/admin/configuration/FindDevices.do"/>

        <wsdl:operation ref="tns:FindDevicesByRoom" whttp:method="GET"
                whttp:location="external/admin/configuration/FindDevicesByRoom.do"/>

        <wsdl:operation ref="tns:FindDevicesByTagId" whttp:method="GET"
                whttp:location="external/admin/configuration/FindDevicesByTagId.do"/>

        <wsdl:operation ref="tns:UpdateDevice" whttp:method="POST"
                whttp:location="external/admin/configuration/UpdateDevice.do"/>

        <wsdl:operation ref="tns:DeleteDevice" whttp:method="GET"
                whttp:location="external/admin/configuration/DeleteDevice.do"/>

        <!-- DeviceClasses -->
        <wsdl:operation ref="tns:FindAllDeviceClasses" whttp:method="GET"
                whttp:location="external/admin/configuration/FindAllDeviceClasses.do"/>

        <!-- Session -->
        <wsdl:operation ref="tns:CreateSession" whttp:method="POST"
                whttp:location="external/admin/accounting/CreateSession.do"/>

        <wsdl:operation ref="tns:FindSessionById" whttp:method="GET"
                whttp:location="external/admin/accounting/FindSessionById.do"/>

        <wsdl:operation ref="tns:FindSessionsByRoom" whttp:method="GET"
                whttp:location="external/admin/accounting/FindSessionsByRoom.do"/>

        <wsdl:operation ref="tns:UpdateSession" whttp:method="POST"
                whttp:location="external/admin/accounting/UpdateSession.do"/>

        <wsdl:operation ref="tns:DeleteSession" whttp:method="GET"
                whttp:location="external/admin/accounting/DeleteSession.do"/>

        <!-- Account -->
        <wsdl:operation ref="tns:CreateAccount" whttp:method="POST"
                whttp:location="external/admin/accounting/CreateAccount.do"/>

        <wsdl:operation ref="tns:FindAccountsBySessionAccounting" whttp:method="GET"
                whttp:location="external/admin/accounting/FindAccountsBySessionAccounting.do"/>

        <wsdl:operation ref="tns:UpdateAccount" whttp:method="POST"
                whttp:location="external/admin/accounting/UpdateAccount.do"/>

        <wsdl:operation ref="tns:DeleteAccount" whttp:method="GET"
                whttp:location="external/admin/accounting/DeleteAccount.do"/>

        <!-- AccountDetails -->
        <wsdl:operation ref="tns:CreateAccountDetails" whttp:method="POST"
                whttp:location="external/admin/accounting/CreateAccountDetails.do"/>

        <wsdl:operation ref="tns:FindAccountDetailsById" whttp:method="GET"
                whttp:location="external/admin/accounting/FindAccountDetailsById.do"/>

        <wsdl:operation ref="tns:FindAccountsDetailsBySessionAccounting" whttp:method="GET"
                whttp:location="external/admin/accounting/FindAccountsDetailsBySessionAccounting.do"/>

        <wsdl:operation ref="tns:UpdateAccountDetails" whttp:method="POST"
                whttp:location="external/admin/accounting/UpdateAccountDetails.do"/>

        <!-- RoomDeviceSession -->
        <wsdl:operation ref="tns:CreateRoomDeviceSession" whttp:method="POST"
                whttp:location="external/admin/configuration/CreateRoomDeviceSession.do"/>

        <wsdl:operation ref="tns:FindRoomDeviceSessionById" whttp:method="GET"
                whttp:location="external/admin/configuration/FindRoomDeviceSessionById.do"/>

        <wsdl:operation ref="tns:FindRoomDeviceSessions" whttp:method="GET"
                whttp:location="external/admin/configuration/FindRoomDeviceSessions.do"/>

        <wsdl:operation ref="tns:FindRoomDeviceSessionsByTagId" whttp:method="GET"
                whttp:location="external/admin/configuration/FindRoomDeviceSessionsByTagId.do"/>

        <wsdl:operation ref="tns:UpdateRoomDeviceSession" whttp:method="POST"
                whttp:location="external/admin/configuration/UpdateRoomDeviceSession.do"/>

        <wsdl:operation ref="tns:DeleteRoomDeviceSession" whttp:method="GET"
                whttp:location="external/admin/configuration/DeleteRoomDeviceSession.do"/>

        <!-- VideoServer -->
        <wsdl:operation ref="tns:CreateVideoServer" whttp:method="POST"
                whttp:location="external/admin/configuration/CreateVideoServer.do"/>

        <wsdl:operation ref="tns:FindVideoServerById" whttp:method="GET"
                whttp:location="external/admin/configuration/FindVideoServerById.do"/>

        <wsdl:operation ref="tns:FindAllVideoServers" whttp:method="GET"
                whttp:location="external/admin/configuration/FindAllVideoServers.do"/>

        <wsdl:operation ref="tns:UpdateVideoServer" whttp:method="POST"
                whttp:location="external/admin/configuration/UpdateVideoServer.do"/>

        <wsdl:operation ref="tns:DeleteVideoServer" whttp:method="GET"
                whttp:location="external/admin/configuration/DeleteVideoServer.do"/>

        <wsdl:operation ref="tns:EnableVideoServer" whttp:method="GET"
              whttp:location="external/admin/configuration/EnableVideoServer.do"/>

        <wsdl:operation ref="tns:DisableVideoServer" whttp:method="GET"
              whttp:location="external/admin/configuration/DisableVideoServer.do"/>

        <!-- VideoServerAction -->
        <wsdl:operation ref="tns:CreateVideoServerAction" whttp:method="POST"
                whttp:location="external/admin/configuration/CreateVideoServerAction.do"/>

        <wsdl:operation ref="tns:FindVideoServerActionsByVideoServerName" whttp:method="GET"
                whttp:location="external/admin/configuration/FindVideoServerActionsByVideoServerName.do"/>

        <!-- VideoServerStatus -->
        <wsdl:operation ref="tns:FindVideoServerStatusById" whttp:method="GET"
                whttp:location="external/admin/configuration/FindVideoServerStatusById.do"/>

        <wsdl:operation ref="tns:FindAllVideoServersStatus" whttp:method="GET"
                whttp:location="external/admin/configuration/FindAllVideoServersStatus.do"/>

        <!-- VideoServerGroup -->
        <wsdl:operation ref="tns:CreateVideoServerGroup" whttp:method="POST"
                whttp:location="external/admin/configuration/CreateVideoServerGroup.do"/>

        <wsdl:operation ref="tns:FindVideoServerGroupById" whttp:method="GET"
                whttp:location="external/admin/configuration/FindVideoServerGroupById.do"/>

        <wsdl:operation ref="tns:FindAllVideoServerGroups" whttp:method="GET"
                whttp:location="external/admin/configuration/FindAllVideoServerGroups.do"/>

        <wsdl:operation ref="tns:UpdateVideoServerGroup" whttp:method="POST"
                whttp:location="external/admin/configuration/UpdateVideoServerGroup.do"/>

        <wsdl:operation ref="tns:DeleteVideoServerGroup" whttp:method="GET"
                whttp:location="external/admin/configuration/DeleteVideoServerGroup.do"/>

        <wsdl:operation ref="tns:FindVideoServerGroupByType" whttp:method="GET"
                whttp:location="external/admin/configuration/FindVideoServerGroupByType.do"/>

        <!-- ScreenSaver -->
        <wsdl:operation ref="tns:CreateScreenSaver" whttp:method="POST"
                whttp:location="external/admin/configuration/CreateScreenSaver.do"/>

        <wsdl:operation ref="tns:FindScreenSaverById" whttp:method="GET"
                whttp:location="external/admin/configuration/FindScreenSaverById.do"/>

        <wsdl:operation ref="tns:FindScreenSavers" whttp:method="GET"
                whttp:location="external/admin/configuration/FindAllScreenSavers.do"/>

        <wsdl:operation ref="tns:UpdateScreenSaver" whttp:method="POST"
                whttp:location="external/admin/configuration/UpdateScreenSaver.do"/>

        <wsdl:operation ref="tns:DeleteScreenSaver" whttp:method="GET"
                whttp:location="external/admin/configuration/DeleteScreenSaver.do"/>

        <!-- AuxCacheServer -->
        <wsdl:operation ref="tns:FindAuxCacheServer" whttp:method="GET"
                whttp:location="external/admin/configuration/FindAuxCacheServer.do"/>

        <wsdl:operation ref="tns:UpdateAuxCacheServer" whttp:method="POST"
                whttp:location="external/admin/configuration/UpdateAuxCacheServer.do"/>

        <wsdl:operation ref="tns:FindNetworkingConfiguration" whttp:method="GET"
                whttp:location="external/admin/configuration/FindNetworkingConfiguration.do"/>

        <wsdl:operation ref="tns:UpdateNetworkingConfiguration" whttp:method="POST"
                whttp:location="external/admin/configuration/UpdateNetworkingConfiguration.do"/>

        <!-- List Configuration -->
        <wsdl:operation ref="tns:CreateListConfiguration" whttp:method="POST"
                whttp:location="external/admin/moviesmanagement/CreateListConfiguration.do"/>

        <wsdl:operation ref="tns:FindListConfigurationById" whttp:method="GET"
                whttp:location="external/admin/moviesmanagement/FindListConfigurationById.do"/>

        <wsdl:operation ref="tns:FindListConfigurations" whttp:method="GET"
                whttp:location="external/admin/moviesmanagement/FindAllListConfiguration.do"/>

        <wsdl:operation ref="tns:UpdateListConfiguration" whttp:method="POST"
                whttp:location="external/admin/moviesmanagement/UpdateListConfiguration.do"/>

        <wsdl:operation ref="tns:DeleteListConfiguration" whttp:method="GET"
                whttp:location="external/admin/moviesmanagement/DeleteListConfiguration.do"/>

        <wsdl:operation ref="tns:FindAssetsByListConfiguration" whttp:method="POST"
              whttp:location="external/admin/moviesmanagement/FindAssetsByListConfiguration.do"/>

        <!-- Filter List Configuration -->
        <wsdl:operation ref="tns:CreateFilterListConfiguration" whttp:method="POST"
                whttp:location="external/admin/moviesmanagement/CreateFilterListConfiguration.do"/>

        <wsdl:operation ref="tns:FindFilterListConfigurations" whttp:method="GET"
                whttp:location="external/admin/moviesmanagement/FindAllFilterListConfiguration.do"/>

        <wsdl:operation ref="tns:DeleteFilterListConfiguration" whttp:method="GET"
                whttp:location="external/admin/moviesmanagement/DeleteFilterListConfiguration.do"/>

        <!-- Channels -->

        <wsdl:operation ref="tns:FindVodkatvChannel" whttp:method="GET"
                whttp:location="external/admin/moviesmanagement/FindVodkatvChannel.do"/>

        <wsdl:operation ref="tns:FindVodkatvChannels" whttp:method="GET"
                whttp:location="external/admin/moviesmanagement/FindVodkatvChannels.do"/>

        <wsdl:operation ref="tns:FindVodkatvChannelsByAccount" whttp:method="GET"
                whttp:location="external/admin/moviesmanagement/FindVodkatvChannelsByAccount.do"/>

        <wsdl:operation ref="tns:CreateVodkatvChannel" whttp:method="POST"
                whttp:location="external/admin/moviesmanagement/CreateVodkatvChannel.do"/>

        <wsdl:operation ref="tns:CreateVodkatvChannels" whttp:method="POST"
                whttp:location="external/admin/moviesmanagement/CreateVodkatvChannels.do"/>

        <wsdl:operation ref="tns:UpdateVodkatvChannel" whttp:method="POST"
                whttp:location="external/admin/moviesmanagement/UpdateVodkatvChannel.do"/>

        <wsdl:operation ref="tns:DeleteVodkatvChannel" whttp:method="GET"
                whttp:location="external/admin/moviesmanagement/DeleteVodkatvChannel.do"/>

        <wsdl:operation ref="tns:FindCasChannels" whttp:method="GET"
                whttp:location="external/admin/moviesmanagement/FindCasChannels.do"/>

        <!-- RoleUsers -->
        <wsdl:operation ref="tns:CreateRoleUsers" whttp:method="POST"
                whttp:location="external/admin/configuration/CreateRoleUsers.do"/>

        <wsdl:operation ref="tns:FindRoleUsersByRoleName" whttp:method="GET"
                whttp:location="external/admin/configuration/FindRoleUsersByRoleName.do"/>

        <wsdl:operation ref="tns:FindAllRoleUsers" whttp:method="GET"
                whttp:location="external/admin/configuration/FindAllRoleUsers.do"/>

        <wsdl:operation ref="tns:UpdateRoleUsers" whttp:method="POST"
                whttp:location="external/admin/configuration/UpdateRoleUsers.do"/>

        <wsdl:operation ref="tns:DeleteRoleUsers" whttp:method="GET"
                whttp:location="external/admin/configuration/DeleteRoleUsers.do"/>

        <!-- RoleMenuOptions -->
        <wsdl:operation ref="tns:CreateRoleMenuOptions" whttp:method="POST"
                whttp:location="external/admin/configuration/CreateRoleMenuOptions.do"/>

        <wsdl:operation ref="tns:FindRoleMenuOptionsByRoleName" whttp:method="GET"
                whttp:location="external/admin/configuration/FindRoleMenuOptionsByRoleName.do"/>

        <wsdl:operation ref="tns:FindAllRoleMenuOptions" whttp:method="GET"
                whttp:location="external/admin/configuration/FindAllRoleMenuOptions.do"/>

        <wsdl:operation ref="tns:UpdateRoleMenuOptions" whttp:method="POST"
                whttp:location="external/admin/configuration/UpdateRoleMenuOptions.do"/>

        <wsdl:operation ref="tns:DeleteRoleMenuOptions" whttp:method="GET"
                whttp:location="external/admin/configuration/DeleteRoleMenuOptions.do"/>

        <!-- User -->
        <wsdl:operation ref="tns:FindAllUsers" whttp:method="GET"
                whttp:location="external/admin/configuration/FindAllUsers.do"/>

        <!-- Menu options -->
        <wsdl:operation ref="tns:FindAllMenuOptions" whttp:method="GET"
                whttp:location="external/admin/configuration/FindAllMenuOptions.do"/>

        <!-- Dummy -->
        <wsdl:operation ref="tns:Dummy" whttp:method="GET"
                whttp:location="Dummy.do"/>

    </wsdl:binding>

    <!--
    Service
    -->
    <wsdl:service name="VoDKATV" interface="tns:VoDKATVInterface">

        <wsdl:documentation>
        VoDKATV OSS/BSS service.
        </wsdl:documentation>

        <wsdl:endpoint name="VoDKATVHTTPEndpoint"
            binding="tns:VoDKATVHTTPBinding"
            address="http://localhost:8082/vodkatv/">

        </wsdl:endpoint>

    </wsdl:service>

</wsdl:description>
